<!doctype html>
<html>
	<head>
		<title>what</title>
		<link rel='stylesheet' href='/stylesheets/style.css'>

		<!-- Jquery -->
		<script type="text/javascript" src="javascripts/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery-ui-1.11.custom/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="javascripts/jquery-ui-1.11.custom/jquery-ui.min.css">
		<script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
		<!-- Latest compiled and minified JS/CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!-- Allow for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<h1>Layout</h1>
			{{{ yield }}}
		</div>
	</body>
</html>