<div id="question-list">
	<ul>
		{{#questions}}
		<li question_id="{{question_id}}" answer_id="answer_id">{{text}}</li>
		<button question_id="{{question_id}}">add</button>
		{{/questions}}
	</ul>
</div>
<div id="add-question">
	<form id="question-form" action="/post-question" method="POST">
		<div class="form-group">
			<label>Question</label>
			<input type="text" class="form-control" name="question">
		</div>
		<button type="submit">Ask</button>
	</form>
</div>
<div id="add-answer">
	<form id="answer-form" action="/post-answer" method="POST">
		<textarea id="answer-form" form="answer-form" class="form-control" name="answer"></textarea>
		<button type="submit">Answer</button>
	</form>
</div>