* {
	border: 1px red dotted;
}

ul {
	list-style-type: none;
}

/* ========== Banner ========== */
#banner {
	height: 70px;
	background-color: #caffc1;
	text-align: center;
	font-size: 48px;
	color: black;
}
/* ========== Login Page ========== */
#login {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

/* ========== Main Page ========== */
#question-list {

	overflow-y: scroll;
	background-color: #ffe6c1;
}

.question-tab {
	position: relative;
	border: 1px black solid;
	height: 30px;
	background-color: #ffc9a2;
}

.question-tab button{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 30px;
	border: 1px red solid;
	background-color: #ffb5c4;
}

#add-question {
	float: left;
	width: 100%;
	background-color: #ebfff8;
}

#add-answer {
	float: left;
	width: 100%;
	background-color: #e9ddff;
}

#answer {
	float: left;
	width: 100%;
	background-color: #ffd0f4;
}

#other-side {
}
