* {
	box-sizing: border-box;
}

/* ========== Login Page ========== */
#login {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

/* ========== Main Page ========== */
#question-list {

}


#add-question {

}

#add-answer {

}

